@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in {
  opacity: 0; /* Hide initially */
  animation: fadeIn 0.5s ease-in-out forwards;
}
