@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'FullSans-LC50Book';
  src: url('/fonts/FullSans-LC50Book.otf') format('opentype');
}

@font-face {
  font-family: 'full-sans-lc-90-bold';
  src: url('/fonts/full-sans-lc-90-bold.otf') format('opentype');
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root { 
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Full Sans LC', sans-serif;
}
