@import '../styles/custom.css';
@font-face {
  font-family: 'Full Sans LC';
  src: url('/fonts/World Of The Fonts - FullSans-LC50Book.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Full Sans LC', sans-serif;
}
